# Development environment override
services:
  nginx-service:
    volumes:
      - ./docker/nginx/certs:/etc/nginx/certs
      - ./docker/nginx/conf.d/dev/default.conf:/etc/nginx/conf.d/default.conf

  php-service:
    build:
      target: "${BUILD_TARGET:-app_dev}"
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www/html
      - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro
    environment:
      APP_ENV: "${APP_ENV:-local}"
      XDEBUG_MODE: "${XDEBUG_MODE:-off}"
    depends_on:
      - buggregator-service
      - postgres-service
      - redis-service

  postgres-service:
    volumes:
      - ./ignoredDir:/var/ignoredDir

  # https://docs.buggregator.dev/getting-started.html
  buggregator-service:
    image: ghcr.io/buggregator/server:latest
    ports:
      - "8000:8000"
      - "1025:1025"
      # - "9912:9912" #
      # - "9913:9913" #
    networks:
      - tab_groups_saver_api_network
