# Development environment override
services:
  nginx-service:
    volumes:
      - ./docker/nginx/certs:/etc/nginx/certs
      - ./docker/nginx/conf.d/dev/default.conf:/etc/nginx/conf.d/default.conf

  php-service:
    build:
      target: "${BUILD_TARGET:-app_dev}"
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www/html
      - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini:ro
    environment:
      APP_ENV: "${APP_ENV:-local}"
      XDEBUG_MODE: "${XDEBUG_MODE:-off}"

  postgres-service:
    ports:
      - "3306:3306"
